{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what We do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Fahad's Blog is one of the best useful tips & tricks based website in Bangladesh. People can visit the and read topics without registration..

          Visitors are able to give their opinion about any forum topics & ask any question in comment section after registration. They can apply to be a tuner for create tunes.</p>

        <h1>Our target</h1>
        <p>
          Our target is to make internet a learning place and we want to give chance to peoples to share their knowledge about technology by using our website.We believe that knowledge is only for sharing so if any one know something about technology. And if any one wants to enrich knowledge about technology also always welcome to our website.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}